/lib/
/static/
/bin/
/bin*
/.shards/
*.dwarf
todo*
AutoHotkey*.chm
.vscode/.history

build/libxdo.so*
build/libxkbcommon.so*
build/libxkbcustom.a
build/linuxdeploy-x86_64.AppImage
build/linuxdeploy-plugin-gtk.sh
build/*.AppImage*

# for generating a .dockerignore based on .gitignore:
.git