[Desktop Entry]
Name=Compile with ahk_x11
Exec=ahk_x11 --compile %u
MimeType=application/x-ahk_x11
Icon=ahk_x11
Terminal=false
Type=Application
Categories=GTK;Utility;Development
Comment=AHK_X11: AutoHotkey for Linux - this is the compiler for ahk_x11 to create stand-alone binaries.